<!DOCTYPE html>
<html>
<head>
<!--CDN RESOURCES -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <title></title>
</head>
<body ng-app = "league">
<div ng-controller= "navController">
  <nav id="topNav" class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">League of Legends App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Profile</a></li>
        </ul>
        <form class="navbar-form navbar-right" ng-submit='searchSummonerName()'>
          <input type="text" class="form-control" placeholder="Search..."  ng-model='searchSummoner'>
          <button >findSummoner</button>
        </form>
        <form class="navbar-form navbar-right" ng-submit='searchChampion()'>
          <input type="text" class="form-control" placeholder="Search..."  ng-model='searchChamp'>
          <button >findChampion</button>
        </form>
      </div>
    </div>
  </nav>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#/">Champion Calculator <span class="sr-only">(current)</span></a></li>
          <li> <a href="#/history">Match History</a></li>
        </ul>
 
      </div>

      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
        <div ng-view></div>
      </div>

      <!-- </div> -->
  <script type="text/javascript" src="controllers/navController.js"></script>
  <script type="text/javascript" src="controllers/matchHistoryController.js"></script>
  <script type="text/javascript" src="services/d3services.js"></script>  
  <script type="text/javascript" src="services/globalVariableServices.js"></script>
  <script type="text/javascript" src="services/postServices.js"></script>
  <script type="text/javascript" src="app.js"></script> 

</body>
</html>