<!-- <div ng-repeat = "item in targetChamp.baseStats"> -->
        <div class="col-xs-4">
          <h3>Attack Damage</h3>
          <svg id = "currentAttackDamage" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>Attack Speed</h3>
          <svg id = "currentAttackSpeed" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>HP</h3>
          <svg id = "currentHp" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>HP Regen</h3>
          <svg id = "currentHpRegen" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>Mana</h3>
          <svg id = "currentMana" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>Mana Regen</h3>
          <svg id = "currentMpRegen" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>Magic Resist</h3>
          <svg id = "currentSpellBlock" width = "280" height = "280"> </svg>
        </div>
        <div class="col-xs-4">
          <h3>Armor</h3>
          <svg id = "currentArmor" width = "280" height = "280"> </svg>
        </div>